*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: red;
    padding: 20px;
}

header nav{
    display: flex;
    background-color: aqua;
}

header ul{
    background-color: yellow;
    gap: 30px;
    display: flex;
}


ul li{
    list-style-type: none; 
}

main{
    background-color: #b4d0e7;
    width: 100%;
    height: 600px;
}

.contenitore-iniziale{
    width: 900px;
    height: 500px;
}


.titolo-impo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    font-size: 35px;
}

.info{
    padding-top: 30px;
    width: 40%;
    height: 300px;
    float: left;
}

.immagine{
    padding-top: 30px;
    width: 60%;
    height: 300px;
    float: right;
}

main span{
    font-size: 13px;
}

.bot-blu{
    padding: 10px;
    color: white;
    background-color: #0061ff;
    border: none;
}

.bot-blu:hover{
    background-color: #5b9aff;

}



/*selezione modalità*/
.container-business{
    width: 800px;
    padding-top: 100px;
}

.business{
    padding-bottom: 50px;
    font-size: 25px;
}

/*modalità*/
.pagamento .bot-blu{
    display: flex;
}

#tab-pag{
    padding-top: 50px;
    display: flex;
}

.pagamento{
    width: 250px;
    height: 750px;
}

.pagamento .modalità{
    border: 1px solid #9f9f9f;
    padding: 5px;
    text-align: center;
}

.pag-info{
    border: 1px solid #9f9f9f;
    border-top: 0px;
    height: 750px;
    padding: 10px;
    font-size: 13px;
}

h3{
    font-size: 25px;
}

#ultimo-pag{
    padding-top: 100px;
}

.ultimo-pag{
    width: 100%;
    border: 1px solid #9f9f9f;
}

.modalità{
    text-align: center;
    padding: 5px;
}

.enterprise{
    display: flex;
    border-top: 1px solid #9f9f9f;
}

#sinistra{
    width: 70%;
    padding: 10px;
    font-size: 13px;
}

#destra{
    width: 30%;
    text-align: center;
    padding-top: 20px;
}

.ciaooo{
    background-color: aquamarine;
    height: 100px;
}

/*Entra in contatto con un parther dropbox*/
#parther-dropbox{
    width: 800px;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 50px;
    padding-bottom: 150px;
}

.bot-bianco{
    padding: 10px;
    background-color: white;
}

.bot-bianco:hover{
    background-color: rgb(231, 231, 231);

}

/*Esegui più operazioni con Dropbox Business*/
.ciao{
    width: 800px;
}

.ciao h2{
    font-size: 30px;
}

#img-con-informazioni{
    display: flex;
}

.tabella-per-immagini{
    width: 250px;
}

.info-img{
    padding: 10px;
    font-size: 13px;
}

.tabella-per-immagini h3{
    font-size: 20px;
}

#img-con-informazioni2{
    display: flex;
    padding-top: 50px;
}

