*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: red;
    padding: 20px;
}

header nav{
    display: flex;
    background-color: aqua;
}

header ul{
    background-color: yellow;
    gap: 30px;
    display: flex;
}


ul li{
    list-style-type: none; 
}

main{
    background-color: #b4d0e7;
    width: 100%;
    height: 600px;
}

.contenitore-iniziale{
    width: 900px;
    height: 500px;
}


.titolo-impo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    font-size: 35px;
}

.info{
    padding-top: 30px;
    width: 40%;
    height: 300px;
    float: left;
}

.immagine{
    padding-top: 30px;
    width: 60%;
    height: 300px;
    float: right;
}

main span{
    font-size: 13px;
}

.bot-blu{
    padding: 10px;
    color: white;
    background-color: #0061ff;
    border: none;
}

.bot-blu:hover{
    background-color: #5b9aff;

}



/*selezione modalità*/
.container-business{
    width: 800px;
    padding-top: 100px;
    background-color: red;
}

.business{
    padding-bottom: 50px;
    font-size: 25px;
}

.pagamento .bot-blu{
    display: flex;
}

#tab-pag{
    padding-top: 50px;
    display: flex;
}

.pagamento{
    width: 250px;
    height: 750px;
}

.pagamento .modalità{
    border: 1px solid #9f9f9f;
    padding: 5px;
    text-align: center;
}

.pag-info{
    border: 1px solid #9f9f9f;
    border-top: 0px;
    height: 700px;
    padding: 10px;
    font-size: 13px;
}

.pagamento h3{
    font-size: 25px;
}

.ciaoo{
    width: 100%;
    border: 1px solid #9f9f9f;
    text-align: center;
}

.enterprise{
    display: flex;
    border: 1px solid #9f9f9f;
    border-top: 0px;
}